
/* App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.app {
  min-height: 100vh;
  padding: 2rem;
  padding-top: 70px; /* justo más que el alto del nav */
  min-height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.app.dark {
  background-color: #121212;
  color: #f0f0f0;
}

.app.light {
  background-color: #f9f9f9;
  color: #222;
}


